---
name: Check the file format
on: [push, pull_request]
permissions:
  contents: read
jobs:
  mdformat:
    name: Check formatting with mdformat
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.13'
        cache: 'pip' # caching pip dependencies
    - run: pip install -r requirements.txt
    - run: mdformat --check .
  jsonschema:
    name: Check the json schema
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.13'
        cache: 'pip' # caching pip dependencies
    - run: pip install -r requirements.txt
    - run: |
        check-jsonschema --schemafile ./json-schema/sigma-correlation-rules-schema.json ./tests/correlation/*.yml
        check-jsonschema --schemafile ./json-schema/sigma-detection-rule-schema.json  ./tests/rules/*.yml
        check-jsonschema --schemafile ./json-schema/sigma-filters-schema.json ./tests/filter/*.yml
        