---
name: Lint the project
on: [push, pull_request]
permissions:
  contents: read
jobs:
  mdformat:
    name: Check formatting with mdformat
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.13'
        cache: 'pip' # caching pip dependencies
    - run: pip install -r requirements.txt
    - run: mdformat --check .